:root {
  --white: #fff;
  --background: #101011;
  --primary: #873EFF;

}

:focus{
  outline: transparent;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a{
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

body{
   overflow-x: hidden;
  background: #0B1421  ;
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}

button{
  color: var(--white);
  margin-top: 10px;
  width: 200px;
  height: 25px;
  border-radius: 12px;
  border: 1px solid var(--primary);
  background: #3772FF;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover{
  background: #0094FF;
}
body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 720px){
  html{
      font-size: 87.5%;
  }
}