.container{
  max-width: 500px;
  margin: 1.25rem auto;
}

.container h3{
  font-size: 1.6rem;
}

.container p{
  margin-top: 5px;
  font-size: 1.2rem;
}
.content{
  margin-top: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input input{
  padding: 10px;
  width: 200px;
  height: 20px;
  border-radius: 8px;
  background: none;
  border: 1px solid var(--primary);
  color: white;
}

.attempts{
  margin-top: 1.125rem;
}

.buttons{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.footer{
  margin-top: 30px;
  text-align: center;
}

.footer a{
  cursor: pointer;
  color: var(--primary);
  transition: ease-in-out 0.3s;
}

.footer a:hover{
  filter: opacity(0.7);
}
